.THIS .header {
    height: 350px;
    background-image: url("https://grg200210--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&versionId=0682w0000008mi2&operationContext=DELIVERY&contentId=05T2w0000004nzR&page=0&d=/a/2w000000Gnx2/6W_d8GdR17hPzW9BygsyqcZ7gqPyK08jwHCL5jJYabE&oid=00D2w000002jg42&dpt=null&viewId=");
    background-repeat:no-repeat;
    background-size: 100%;
}

.THIS .searchRegion {
    margin-top: 130px;
    background-color: white;
    border-radius: 5px;
}